doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(http-equip='cache-control', content='no-store')
		title My secrets

		link(href='public/css/bootstrap.min.css', rel='stylesheet')

		link(href='public/css/business-casual.css', rel='stylesheet')

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic', rel='stylesheet', type='text/css')
	body
		.brand Welcome to your secrets page
		.container
			.row
				.box
					.col-lg-12
						hr
						h2.intro-text.text-center
							| This is where you will store all of your secrets
							br
							a(href='/logout')
								button Logout
						hr
					.col-md-6
						img.img-responsive.img-border-left(src='img/slide-2.jpg', alt='')
				.col-md-6

			.container
				.row
					.box
						.col-lg-12

						h2 My Secrets:
						ul
							each secret, i in secrets
								li #{secret.secretText}
								a(href='/delete/?id=#{secret._id}') Delete
								br
								br
								| Update this secret
								form(method='post', action='/edit?id=#{secret._id}')
									input(type='text', name='newText')
									button(type='submit', name='submit') Submit
								br
								br
								br

							else
								p You have no secrets!!!
							br
							br
							br
						| Type your new secret here
						form(method='post' action='/addNewSecret')

							input(type='text', name='secretText')

							input(type='submit', value='Submit')
							br
